<div class="page-header">
  <h1><%= t('.title', name: grade) %></h1>
</div>

<div class="page-sub-header">
  <h4><%= t('.grade_users') %></h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.role') %></th>
    </tr>
  </thead>
  <tbody>
    <% grade.grade_users.ordered.each do |relation| %>
      <tr<%= ' class="bg-faded"'.html_safe if relation.teacher? %>>
        <td><%= link_to relation.user.name_formatted, relation.user %></td>
        <td><%= relation.relation_type_readable %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-sub-header">
  <h4><%= t('.schedule') %></h4>
</div>

<%= render partial: 'schedules/calendar', locals: { schedules: grade.schedules } %>


