<div class="page-sub-header">
  <h4><%= t('.subjects') %></h4>
</div>

<ul class="clear-list">
  <% user.subjects.each do |subject| %>
    <li><%= link_to subject, subject %></li>
  <% end %>
</ul>

<div class="page-sub-header">
  <h4><%= t('.grades') %></h4>
</div>

<ul class="clear-list">
  <% user.grades.each do |grade| %>
    <li><%= link_to grade, grade %></li>
  <% end %>
</ul>

<div class="page-sub-header">
  <h4><%= t('.schedule') %></h4>
</div>

<%= render partial: 'schedules/calendar', locals: { schedules: user.teacher_schedules } %>
