<div id="sidebar-nav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to t('.directory'), users_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to t('.schedule'), schedules_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to t('.grades'), grades_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to t('.subjects'), subjects_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to t('.news'), news_index_path, class: 'nav-link' %>
    </li>
  </ul>
</div>
