<!DOCTYPE html>
<html>
<head>
  <title>E-ducation</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render partial: 'shared/header_nav' %>

  <div id="content-wrapper">
    <div class="row">
      <div class="col-md-2">
        <aside id="sidebar">
          <%= render partial: 'shared/sidebar_nav' %>
        </aside>
      </div>
      <div class="col">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
